<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<header class="tc ph4">
  <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
    Files from GoogleDrive
  </h1>
  <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
    Enter the slug which respond to the slug of event on
    <a href="https://www.eventil.com" class="link underline-hover red">Eventil</a>
    page and import all speakers to this event.
  </h2>
</header>

{% for file in files %}
<div class="pa4-l">
  <form class="bg-light-red mw7 center pa4 br2-ns ba b--black-10" method="post" action="/import">
    <fieldset class="cf bn ma0 pa0">
      <legend class="pa0 f5 f4-ns mb3 black-80">{{ file.name }}</legend>
      <div class="cf">
        <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
                type="text"
                name="slug"
                value=""
                placeholder="Enter slug here">
        <input type="hidden" name="file_id" value={{file.id}}>
        <input type="hidden" name="file_name" value={{file.name}}>
        <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns"
                type="submit"
                value="Import">
      </div>
    </fieldset>
  </form>
</div>
{% endfor %}
